# Data Cleaning & Integration 
This notebook walks through loading, cleaning, and merging two rental datasets.

## 1. Import Libraries

In [1]:
import pandas as pd
import numpy as np
import re

## 2. Load Datasets

In [3]:
dubizzle = pd.read_csv('dubizzle_properties_for_rent.csv')
mawa = pd.read_csv('mawa_rent_listings.csv')

# Preview datasets
display(dubizzle.head())
display(mawa.head())

,property_name,sale_price,location,area,bathrooms,beds
0,ADV905*4BHK Villa for rent in Madinat Illam in...,OMR 750,"Qurum, Muscat•",300 SQM,4,4
1,ADV906**4BHK Villa in a comples in shatti qurum,"OMR 1,900","Qurum, Muscat•",300 SQM,4,4
2,ADC507*** Office Space in Azaiba – 440 sqm for...,"OMR 2,310","Azaiba, Muscat•",440 SQM,Not specified,Not specified
3,*ADV705** 3+1 BHK Villa for Rent in Bousher –A...,OMR 650,"Bosher, Muscat•",350 SQM,4,3
4,4 BR + Maid’s Room Spacious Well-Designed Vill...,OMR 750,"Azaiba, Muscat•",439 SQM,5,4

,URL,Title,Location,Price,Bedrooms,Bathrooms,Area,PropertyType
0,https://www.mawa.om/en/rent/villa-at-al-mouj-1...,villa at Al Mouj,"Al Mouj, Muscat, Oman","2,100 OMR",4,5.0,673 sqr mtr,Villa
1,https://www.mawa.om/en/rent/two-and-three-bedr...,Two and Three Bedroom Apartment close to the H...,"Shatti Al Qurum, Muscat, Oman",425 OMR,2,2.0,NaN,Apartment
2,https://www.mawa.om/en/rent/shop-for-rent-in-b...,Shop for Rent in Bosher| REF 84MC,"Bawshar, Muscat, Oman",325 OMR,NaN,NaN,46 sqr mtr,Shop
3,https://www.mawa.om/en/rent/750-sq-m-penthouse...,750 SQ M Penthouse Office Space in Qurum with...,"Qurum, Muscat, Oman","3,600 OMR",NaN,NaN,NaN,Office Space
4,https://www.mawa.om/en/rent/furnished-one-bedr...,"Furnished one bedroom apartment, Muscat Bay","Muscat Bay, Muscat, Oman",700 OMR,1,1.0,NaN,Apartment

## 3. Standardize Column Names

In [4]:
dubizzle = dubizzle.rename(columns={
    'property_name': 'title',
    'sale_price': 'price',
    'beds': 'bedrooms'
})
mawa = mawa.rename(columns={
    'Title': 'title',
    'Price': 'price',
    'Location': 'location',
    'Area': 'area',
    'Bathrooms': 'bathrooms',
    'Bedrooms': 'bedrooms'
})

## 4. Select Relevant Columns

In [5]:
cols = ['title', 'price', 'location', 'area', 'bathrooms', 'bedrooms']
dubizzle = dubizzle[cols]
mawa = mawa[cols]

## 5. Define Cleaning Functions

In [6]:
def clean_price(x):
    if pd.isna(x): return np.nan
    s = str(x).replace('OMR','').replace(',','').strip().lower()
    if 'request' in s: return np.nan
    try: return float(s)
    except: return np.nan

def clean_area(x):
    if pd.isna(x): return np.nan
    m = re.search(r'([\d\.,]+)', str(x))
    return float(m.group(1).replace(',','')) if m else np.nan

## 6. Apply Cleaning Functions

In [7]:
for df in (dubizzle, mawa):
    df['price'] = df['price'].apply(clean_price)
    df['area'] = df['area'].apply(clean_area)
    df['bedrooms'] = pd.to_numeric(df['bedrooms'], errors='coerce')
    df['bathrooms'] = pd.to_numeric(df['bathrooms'], errors='coerce')

## 7. Remove Duplicates

In [8]:
dubizzle = dubizzle.drop_duplicates()
mawa = mawa.drop_duplicates()

## 8. Combine Datasets & Export

In [10]:
combined = pd.concat([dubizzle, mawa], ignore_index=True)
combined = combined.drop_duplicates().reset_index(drop=True)
combined.to_csv('cleaned_combined_listings.csv', index=False)
print('Saved cleaned_combined_listings.csv')

Saved cleaned_combined_listings.csv

## 9. Preview Combined Data

In [12]:
display(combined.head())

,title,price,location,area,bathrooms,bedrooms
0,ADV905*4BHK Villa for rent in Madinat Illam in...,750.0,"Qurum, Muscat•",300.0,4.0,4.0
1,ADV906**4BHK Villa in a comples in shatti qurum,1900.0,"Qurum, Muscat•",300.0,4.0,4.0
2,ADC507*** Office Space in Azaiba – 440 sqm for...,2310.0,"Azaiba, Muscat•",440.0,NaN,NaN
3,*ADV705** 3+1 BHK Villa for Rent in Bousher –A...,650.0,"Bosher, Muscat•",350.0,4.0,3.0
4,4 BR + Maid’s Room Spacious Well-Designed Vill...,750.0,"Azaiba, Muscat•",439.0,5.0,4.0